

<form [formGroup]="form" (ngSubmit)="handleSubmit()"
  class="border-t border-gray-300 p-4 bg-white bg-opacity-5 flex">

  <input type="text"
  class="flex-1 border border-gray-600 rounded-lg p-2 mr-2 focus:outline-none focus:ring focus:ring-indigo-400 text-black"
  [placeholder]="placeholder"
  formControlName="prompt" 
  >


  <select formControlName="selectedOptions" class="border border-gray-600 rounded-lg p-2 mr-2 focus:outline-none focus:ring focus:ring-indigo-400 text-black">
    <option value="" disabled selected>Selecciona una opción</option>
    <!-- Uso de *ngFor correctamente -->
     @for(option of options; track option.id){
      <option [value]="option.id">{{ option.text }}</option>
     }  
  </select>
  
  <button class="btn-primary flex items-center space-x-2 bg-gray-300 text-gray-800 p-3 rounded-md vintage-button hover:bg-gray-400 duration-300 ease-in-out">
    <i class="fas fa-paper-plane"></i>
    <span>Enviarr</span>
  </button>

  
</form>
