<div class="chat-container">
    <div class="chat-messages">
  
      <div class="chat-messages__header">
        <h1 class="chat-messages__title">Traductor</h1>
      </div>
  
      @for (message of messages(); track $index) {
        @if (message.isGpt) {
          <app-gpt-message-orthography 
        
          [message]="message.info?.message || ''" 
          [errors]="message.info?.errors || []" 
          [cantidad_errores]="message.info?.cantidad_errores || 0"
         />     
    
        }@else {        
          <app-mi-messages [text]="message.text" />
        }
    
       }
    </div>  
  
  
     <!-- Mostrar el loader solo si isTyping es true -->
     <app-typing-loader *ngIf="isTyping" />
  
     <app-text-message-box-select
       [options]="[]"
       placeholder="En que puedo ayudarte"
       (onMessage)="  handleMessageWithSelect  ($event)"
       (input)="onTyping($event)" 
     />    
    
  </div>