<div class="chat-container">
  <div class="chat-messages">

    <div class="chat-messages__header">
      <h1 class="chat-messages__title">Pros y Contras</h1>
    </div>   

    @for (message of messages(); track $index) {
      @if (message.isGpt) {
        <app-gpt-message 
        [text]="message.text"      
       />  
  
      }@else {        
        <app-mi-messages [text]="message.text" />
      }
  
     }

     
  </div>  


   <!-- Mostrar el loader solo si isTyping es true -->
   <app-typing-loader *ngIf="isTyping" />
   <app-text-messages-box
     placeholder="En que puedo ayudarte"
     (onMessage)="handleMessage($event)"
     (input)="onTyping($event)" 
   />    
  
</div>